<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>DA101_G6</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/front-end/fooditem/listAllFooditem.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	<servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.mem.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/front-end/mem/mem.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResServlet</servlet-name>
		<servlet-class>com.res.controller.ResServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResServlet</servlet-name>
		<url-pattern>/back-end/res/res.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResServlet</servlet-name>
		<url-pattern>/front-end/res/res.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PicServlet</servlet-name>
		<servlet-class>com.pictools.ResPhoto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PicServlet</servlet-name>
		<url-pattern>/back-end/res/resPhoto.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MemLogin</servlet-name>
		<servlet-class>com.mem.controller.MemLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemLogin</servlet-name>
		<url-pattern>/MemLogin</url-pattern>
	</servlet-mapping>
</web-app>